<!DOCTYPE html>
<p>
	Thanks for your inquiry! Someone will be in touch soon.
</p>
<br/>
<table>
	<tr>
		<td>
			<b>First Name</b>
		</td>
		<td>
			<%= params["First Name"] %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Last Name</b>
		</td>
		<td>
			<%= params["Last Name"] %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Email Address</b>
		</td>
		<td>
			<%= params["Email Address"] %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Zip Code</b>
		</td>
		<td>
			<%= params["Zip Code"] %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Phone Number</b>
		</td>
		<td>
			<%= params["Phone Number"] %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Address</b>
		</td>
		<td>
			<%= params["Address"] %>
		</td>
	</tr>
	<tr>
		<td>
			<b>City</b>
		</td>
		<td>
			<%= params["City"] %>
		</td>
	</tr>
	<tr>
		<td>
			<b>State</b>
		</td>
		<td>
			<%= params["State"] %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Country</b>
		</td>
		<td>
			<%= params["Country"] %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Residence</b>
		</td>
		<td>
			<%= params["Residence"] %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Price Range</b>
		</td>
		<td>
			<%= params["Price Range"] %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Heard Through</b>
		</td>
		<td>
			<%= params["Heard About Us Through"] %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Most Important Factor</b>
		</td>
		<td>
			<%= params["Most Important Factor"] %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Comments</b>
		</td>
		<td>
			<%= params["Comments"] %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Is A Broker?</b>
		</td>
		<td>
			<%if  params["Is A Broker"]  then%>
			Yes
			<% else %>
			No
			<% end %>
		</td>
	</tr>
	<tr>
		<td>
			<b>Represented By A Broker?</b>
		</td>
		<td>
			<%if  params["Represented By A Broker"]  then%>
			Yes
			<% else %>
			No
			<% end %>
		</td>
	</tr>
</table>
</html>

